<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <span>ByteBattle</span>
      <span class="terminal-cursor ms-1"></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Enlaces principales -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/challenges" routerLinkActive="active"
            >Retos</a
          >
        </li>
        @if (authService.isAdmin()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
        }
      </ul>

      <!-- Sección de usuario -->
      <ul class="navbar-nav">
        @if (authService.getCurrentUser()) {
        <!-- Icono de notificaciones -->
        <li class="nav-item notification-icon">
          <a class="nav-link position-relative" routerLink="/notifications">
            <i class="bi bi-bell"></i>
            @if (unreadCount > 0) {
            <span
              class="badge bg-danger position-absolute top-0 start-100 translate-middle"
            >
              {{ unreadCount }}
            </span>
            }
          </a>
        </li>

        <!-- Menú desplegable de usuario -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          
            <div class="avatar">
              <img [src]="avatarUrl" alt="Avatar" class="avatar-img" />
            </div>
            <span class="username ms-2"
              >{{ authService.getCurrentUser()?.username }}</span
            >
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="/profile">
                <i class="bi bi-person me-2"></i>Perfil
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()">
                <i class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión
              </a>
            </li>
          </ul>
        </li>
        } @if (!authService.getCurrentUser()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrarse</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
